.row {
	display: flex;
}
.row > button {
	margin-left: 12px;
}
section {
	padding-bottom: 18px;
}

.section-title {
	display: flex;
	align-items: baseline;
}

.section-title > a {
	margin-left: 12px;
	line-height: 0;
}
